
 <div class="section page-banner-section" style="background-image: url(assets/images/page-banner-bg.png);">
    <div class="container">
        <!-- Page Banner Wrapper Start -->
        <div class="page-banner-wrapper">

            <!-- Page Banner Content Start -->
            <div class="page-banner-content">

                <!-- Section Title Start -->
                <div class="section-title">
                    <h5 class="sub-title">Connect</h5>
                    <h2 class="main-title">Connect <br> with us</h2>
                </div>
                <!-- Section Title End -->

                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Connect</li>
                </ul>
                <div class="header-top d-none d-lg-block">
                    <div class="container">
            
                        <!-- Header top Wrapper Start -->
                        <div class="header-top-wrapper">
            
                            <!-- Header top Wrapper Start -->
                            <div class="header-top-info">
                                <p>Hasanbati, Faridkot, Punjab(India)</p>
                                <p>Call us: <a href="javascript:void(0)">(+91) 62833 89976 || (+91) 95924 44919</a></p>
                            </div>
            
                        </div>
                        <!-- Header top Wrapper End -->
            
                    </div>
                </div>
            </div>
            <!-- Page Banner Content End -->

            <!-- Page Banner Images Start -->
            <div class="page-banner-images">
                <img src="assets/images/page-banner-3.png" alt="Page Banner">
            </div>
            <!-- Page Banner Images End -->

        </div>
        <!-- Page Banner Wrapper End -->
    </div>
</div>
